.titulo1{ 
    color: rgba(0, 255, 251, 0.794); 
    text-align: center; 
    background-color: rgb(192, 0, 0); 
    height: 80px; 
} 
.container{ 
    border: 2px solid; 
    padding: 10px; 
    border-radius: 15px; 
    background-color: rgb(252, 5, 5); 

} 
.fundo{
    background-color: black;
}
